@import "../scss/mixins";
@import "../scss/vars";
.bg-back{
    background-color: #232323;
}

.f-gef{font-family: geforce;}
.f-ddn{font-family: ddnpro;}
.f-ars{font-family: aorus;}

.box-shw{
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
}
.img-back{
    background: linear-gradient(#FFFFFF, #D6D6D6);
}
.logo-circle{
    width: 70px;
    height: 70px;
    position: absolute;
    border-radius: 50%;
    top: 9rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}

